<ul>
  <li><a href="/BSD">BSD Students</a></li>
  <li><a href = "/allStudents">All Students</a></li>
  <li><a href="/highGPA">Highest GPA</a></li>
  <li><a href="/">Home</a></li>
</ul>

<hr> 
{{{body}}}
<hr>

<h1>Student Honour Pledge:</h1>
<p>I acknowledge Seneca College's academic integrity policy. On my honour, I have neither given or received unauthorized aid on this test.</p>
<p>Name: <mark>Albert Abalian</mark></p>
<p>Student Number: <mark>121761217</mark></p>